# Port serwera HTTP
PORT=3000

# Ścieżka do pliku bazy SQLite (względem folderu backend/)
DATABASE_PATH=./data/cloud.db

# Folder na fizyczne pliki (względem folderu backend/)
STORAGE_ROOT=../storage/data/default
